@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* 
*{
    background: rgba(122, 101, 101, 0.3);
} */

body{
    overflow-y: auto;
    background-color: #0f0f0f;
}

video {
    border-radius: 20px;
}

*{
    font-family: "Roboto", sans-serif;
}